circle {
  fill: #6c5b7b;
}

.error-line {
  stroke: #355c7d;
  stroke-dasharray: 2,2;
}

.error-cap {
  stroke: #355c7d;
  stroke-width: 2px;
  stroke-type: solid;
}

.tooltip {
  position: absolute;
  height: auto;
  width: auto;
  padding: 15px;
  background: #660033;
  color: white;
  font-family: Monospace, Serif;
  }

.tooltip:after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #660033 transparent transparent;
}

 .plot-bg {
   fill: #ffffff;
 }

 td, th {
  padding: 1px 4px;
}